.status_up {
    float: left;
	border-radius: 50%;
	width: 20px;
	height: 20px;
    background-color: #0dec0d;
	/* width and height can be anything, as long as they're equal */
}
.status_down {
    float: left;
	border-radius: 50%;
	width: 20px;
	height: 20px;
    background-color: red;
	/* width and height can be anything, as long as they're equal */
}

#network_status_container{
	text-align: center;
	vertical-align: text-top;
}

.dark{
	background-color: #cfd8dc;
}

tr{
    background-color: rgba(0,0,0,.1);
}

.pt20 {
    padding-top:20px;
}

#last_updated{
    text-align: center;
}